.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .login__app-name {
    color: white;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 35px;
  }
  img {
    margin-top: 21px;
    margin-left: 21px;
    width: 80%;
    border: 5px solid white;
    border-radius: 50%;
    cursor: auto;
  }
  .circle {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    position: relative;
  }
  .circle1 {
    width: 290px;
    height: 290px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .circle2 {
    width: 275px;
    height: 275px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .circle3 {
    width: 260px;
    height: 260px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .circle:hover {
    background-color: #4ce0d2;
    .circle2 {
      background-color: #4ce0d2;
    }
    .login__app-name {
      color: #4ce0d2;
    }
    img {
      border: 5px solid #4ce0d2;
    }
  }
  .login-button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #041b15;
    padding: 5px;
    border-radius: 5px;
  }
  .edition {
    padding: 10px 15px 10px 15px;
    background-color: #4ce0d2;
    border-radius: 5px;
    p {
      font-size: 2em;
      margin: 0;
      color: #041b15;
    }
  }
  .login-button {
    width: 100%;
    font-size: 2em;
    margin-top: 5px;
    padding: 10px 61px 10px 61px;
    border: none;
    background-color: #041b15;
    cursor: pointer;
    color: white;
    border-radius: 5px;
  }
  .login-button:hover {
    background-color: #4ce0d2;
    color: #041b15;
    width: 100%;
    font-size: 2em;
    margin-top: 5px;
    padding: 10px 61px 10px 61px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}
