.AlbumDetails {
  padding: 10px;
  width: max-content;
  border: 5px solid white;
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .album__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .album__name {
    font-size: 2em;
    width: 300px;
    word-wrap: break-word;
    text-align: start;
  }
  .album_songs {
    img {
      display: none;
    }
    img:hover {
      border: 1px solid #4ce0d2;
    }
    p:hover {
      color: #4ce0d2;
    }
  }
  img {
    margin-top: 10px;
    width: 300px;
    border: 5px solid white;
  }
  img:hover {
    cursor: auto;
  }
  p {
    color: white;
  }
  .fa-solid {
    margin: 5px 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
  }
  .fa-solid:hover {
    color: #4ce0d2;
  }
  .album__buttons {
    margin-top: 10px;
  }
}
