.EditForm {
  width: max-content;
  border: 5px solid white;
  background-color: 041B15;
  color: white;
  border-radius: 25px;
  h1 {
    text-align: center;
  }

  button {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    background: transparent;
    color: #edf2f4;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 25px;
  }

  button:hover {
    background-color: #4ce0d2;
    color: #041b15;
    padding: 5px 10px;
    border-radius: 25px;
  }

  input[type="text"] {
    padding: 2px;
    font-size: 25px;
    width: 270px;
  }

  label {
    font-size: 1.5em;
  }

  label:hover {
    color: #4ce0d2;
  }
}

.EditForm__form {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
