.SongDetails{

    .song_artist-name {
        display: flex;
    }
    img {
        width: 300px;
        border: 5px solid white ;
    }
    p {
        color: white;
    }
    .song__time-container {
        /* display: flex; */
    }
}

.song__time {
    position: relative;
    /* animation: slide 223s ease-in; */
    animation-fill-mode: forwards;
}
@keyframes slide {
    0% {
        left: 0;
    } 
    100% {
        left: 300px;
    }
}