.SongAddFrom {
    padding: 20px 10px;
    margin-top: 20px;
    width: max-content;
    border: 5px solid white;
    background-color: 041B15;
    color: white;
    border-radius: 25px;

    button {
        margin: 0;
        padding: 0;
        font-size: 1.3em;
        background: transparent;
        color: #EDF2F4;
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 25px;
    }

    button:hover {
        background-color: #4CE0D2;
        color: #041B15;
        padding: 5px 10px;
        border-radius: 25px;
    }
    
    input[type="text"] {
        padding: 2px;
        font-size:25px;
        width: 270px;
    }

    label {
        font-size: 1.5em;
    }

    label:hover {
        color: #4CE0D2
    }
}

.SongAddForm__form {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}