* {
  font-family: "Jersey 25", sans-serif;
}
html {
    height: 100%;
    padding: 5px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: auto;
    margin: 10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}