html {
    height: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: auto;
    margin: 10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* img:hover {
    cursor:pointer;
  } */